// Colores
$semi-blue: #2c3e50;
$semi-blue-light: #466481;
$semi-blue-dark: #1a252f;
$semi-black: #1d1d1d;
$semi-white: #fefaf2;
$semi-gray: #adadad;
$semi-transparent: #00000080;
$intente-blue: #4c85ff;
$google: #dd4b39;
$facebook: #3b5998;